<a href="https://colab.research.google.com/github/Amol68/SAP/blob/main/1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas & Seaborn

In [19]:
import seaborn as sns
import pandas as pd

In [2]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [3]:
df = sns.load_dataset("titanic")

In [5]:
df.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False

In [11]:
len(df.query("sex=='female'"))

314

In [10]:
len(df.query("sex=='male'"))

577

In [13]:
len(df.query("sex=='female' and survived==1"))

233

In [14]:
len(df.query("sex=='male' and survived==1"))

109

In [15]:
len(df.query("embark_town=='Southampton' and survived==1"))

217

In [16]:
len(df.query("embark_town=='Cherbourg' and survived==1"))

93

In [17]:
len(df.query("age<=25 and survived==1"))

124

***Survivals based on passenger class***

In [25]:
df2=df.rename(columns={'pclass' : 'pass_class'},inplace=True)
df2.columns

AttributeError: ignored

In [27]:
df.columns

Index(['survived', 'pass_class', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

**Survivals based on passenger class**

In [29]:
len(df.query("pass_class==1 and survived==1"))

136

 **Which embark town have highest value of survivals**

In [32]:
len(df.query("embark_town =='Queenstown' and survived==1"))

30